[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
py7zr = "*"
pyperclip = "*"

[dev-packages]
black = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
